{
  "extends": ["airbnb-typescript/base"],
  "parser": "babel-eslint",
  "rules": {
    "import/prefer-default-export": "never"
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/no-unused-vars": "error"
      }
    }
  ]
}
